// Color palette
$color-bg: #212427;
$color-bg-dark: #2c3137;
$color-surface: #272b31;
$color-border: #3c434d;
$color-accent: #f6b93b;
$color-accent-text: #9e6c00;
$color-accent-text-hover: #38302a;
$color-accent-hover: #faa73a;
$color-text: #f5f5f5;
$color-muted: #7e8896;
$color-muted-light: #ccd0d4;
$color-button: #ece035;

// Border radius
$radius-xs: .2rem;
$radius-sm: .375rem;
$radius-md: .75rem;
$radius-lg: 1.5rem;
$radius-full: 9999px;