@use "./variables" as *;
@use "./auth";
@use "./header";
@use "./profile";

body {
	background: $color-bg;
}

.layout {
	@apply min-h-screen;
}

.main {
	@apply mx-auto max-w-4xl md:px-4;
	padding-top: 65px; // Adjust for fixed header
}

.loading-text {
	@apply text-gray-400;
}

.error-text {
	@apply text-red-500;
}

.btn {
	@apply mt-4 whitespace-nowrap px-4 py-2 font-bold shadow-sm transition-all shadow;
	border-radius: $radius-xs;

	&:disabled {
		@apply cursor-not-allowed opacity-50;
	}

	&--primary {
		background: $color-accent;
		color: $color-accent-text;

		&:hover:not(:disabled) {
			background: $color-accent-hover;
			color: $color-accent-text-hover;
		}
	}

	&--secondary {
		@apply bg-gray-300 text-gray-700 hover:bg-gray-300;

		&:hover:not(:disabled) {
			background: $color-muted-hover;
		}
	}

	&--danger {
		@apply bg-red-600 text-white hover:bg-red-700;
	}
}
