@use "./variables" as *;

.auth-form {
	@apply mx-auto flex max-w-xs flex-col gap-4 p-4 pt-16;
	background: $color-bg;
}

.auth-form__title {
	@apply mb-2 text-center text-3xl font-semibold;
	color: $color-text;
}

.auth-form__field {
	@apply flex items-center px-3 py-1;
	background-color: $color-surface;
	border-radius: $radius-xs;
}

.auth-form__input {
	@apply block w-full px-3 py-2;
	background: none;
	border: none;
	outline: none;
	color: $color-muted;

	&:focus::placeholder {
		opacity: 0;
		transition: opacity 0.3s;
	}
	&-icon {
		height: 20px;
		width: 20px;
		color: $color-muted;
	}
}

.auth-form__forgot-password {
	@apply mr-auto text-sm transition-colors;
	color: $color-text;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $color-accent;
	}
}

.auth-form__button {
	@apply mt-2 block w-full px-3 py-2 font-bold;
	border: 2px solid transparent;
	border-radius: $radius-lg;
	background: $color-button;
	color: $color-accent-text;
	box-shadow: 0 8px 24px 0 rgba(255, 205, 105, 0.2);
	transition: all 0.3s ease-in-out;
	&:hover,
	&:focus {
		background: $color-accent;
		color: $color-accent-text-hover;
		box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
	}

	&--secondary {
		background: none;
		border-color: $color-muted-light;
		color: $color-muted-light;
		box-shadow: 0 8px 24px 0 rgba(12, 30, 87, 0.2);
		&:hover,
		&:focus {
			background: $color-muted-light;
			color: $color-bg;
			box-shadow: 0 8px 24px 0 $color-surface;
		}
	}
}

.auth-form__message {
	@apply mt-2 text-center text-sm;
	color: $color-muted;
}

.auth-form__footer {
	@apply mt-2 p-2 text-center text-sm;
	color: $color-text;

	&-link {
		@apply ml-1 font-medium underline underline-offset-2 transition-colors;
	}

	&-link:hover,
	&-link:focus {
		@apply transition-colors;
		color: $color-accent;
	}
}
