@use "./variables" as *;

.questions {
	@apply mx-auto flex w-full max-w-3xl flex-col gap-4 p-4;
	background: $color-text;
	color: $color-bg;

	@media (min-width: 640px) {
		background: transparent;
	}
}

.questions__title {
	@apply my-4 text-center text-xl font-semibold;

	@media (min-width: 640px) {
		@apply my-6 text-2xl text-white;
	}
}

.questions__list {
	@apply flex flex-col gap-6;
}

.questions__item {
	@apply flex flex-col gap-3;
	border-radius: $radius-sm;
	width: 100%;
}

.questions__question {
	@apply relative flex gap-2 bg-white p-4 shadow;
	border-radius: $radius-sm;
}

.questions__question-content {
	@apply flex flex-col;
}

.questions__question-text {
	@apply text-base;

	&--answer {
		@apply font-semibold;
	}
}

.questions__question-date {
	@apply text-right text-xs;
	color: $color-muted;
}

.questions__person-wrapper {
	@apply flex w-full flex-col gap-2;
}

.questions__person {
	@apply flex flex-col;

	&--anonymous {
		@apply font-semibold;
		color: $color-muted;
	}
}

.questions__person-avatar {
	@apply h-10 w-10 rounded-full object-cover;
}

.questions__person-name {
	@apply font-semibold;
}

.questions__person-username {
	@apply text-sm;
	color: $color-muted;
}

.questions__answer {
	@apply relative ml-4 flex gap-2 bg-white p-4 shadow;
	border-radius: $radius-sm;

	&:before {
		@apply absolute;
		content: "";
		left: -10px;
		top: 50%;
		transform: translateY(-50%);
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 10px solid #fff;
	}
}

.questions__answer-text {
	@apply text-lg font-semibold;
}

.questions__answer-date {
	@apply text-right text-xs;
	color: $color-muted;
}
