@use "./variables" as *;

.header {
	@apply fixed left-0 right-0 top-0 z-10 flex items-center bg-white shadow-md;
	height: 65px; // Set fixed height for header
}

.header__icon {
	@apply h-5 w-5;
}

.header__inner {
	@apply mx-auto w-full max-w-4xl px-4;
}

.header__content {
	@apply flex h-16 items-center justify-between;
}

.header__logo {
	@apply flex items-center gap-4;
	color: $color-bg;

	& a {
		@apply flex items-center gap-2 text-xl font-bold;
	}

	.header__logo-icon {
		@apply h-6 w-6;
		color: $color-accent;
	}
}

.header__nav {
	@apply hidden items-center gap-4;

	@media (min-width: 768px) {
		@apply flex;
	}
}

.header__nav-link {
	@apply relative flex items-center whitespace-nowrap px-4 py-2 text-2xl font-bold transition-colors;
	color: $color-bg;
	z-index: 1;

	@media (min-width: 768px) {
		@apply text-base;
	}

	&:hover,
	&--active {
		color: $color-accent-text-hover;
	}

	&:before {
		@apply absolute left-0 mr-2 flex h-1.5 w-2.5 rounded-full transition-all;
		content: "";
		background-color: $color-accent;
		z-index: -1;
	}

	&:hover:before,
	&--active:before {
		@apply h-12 w-full transition-all;

		@media (min-width: 768px) {
			@apply h-8;
		}
	}
}

.header__nav-link-icon {
	@apply mr-2 h-6 w-6 min-w-6;
	color: $color-bg;

	@media (min-width: 768px) {
		@apply mr-1 h-4 w-4;
	}
}

.header__logout-link {
	@apply relative flex h-12 w-full items-center whitespace-nowrap rounded-full px-4 py-2 text-2xl font-bold text-red-500 transition-colors;

	&-icon {
		@apply mr-2 h-6 w-6 min-w-6;

		@media (min-width: 768px) {
			@apply mr-1 h-5 w-5;
		}
	}

	&:before {
		@apply absolute left-0 mr-2 flex h-1.5 w-2.5 rounded-full bg-red-100 transition-all;
		content: "";
		z-index: -1;
	}

	&:hover:before {
		@apply h-12 w-full transition-all;
	}

	@media (min-width: 768px) {
		@apply mt-0 px-4 py-2 text-base font-normal hover:bg-gray-100;
		border-radius: 0;

		&:before,
		&:hover:before {
			display: none;
		}
	}
}

/* User dropdown styles */
.header__user-dropdown {
	@apply relative;
}

.header__user-dropdown-button {
	@apply flex h-12 w-full items-center gap-2 rounded-full px-3 text-2xl transition-all hover:bg-gray-200;

	@media (min-width: 768px) {
		@apply h-8 py-2 text-base;
	}

	@media (min-width: 768px) {
		@apply w-auto;
		border-radius: $radius-xs;
	}
}

.header__user-dropdown-avatar img {
	@apply h-8 w-8 min-w-8 rounded-full object-cover;

	@media (min-width: 768px) {
		@apply h-5 w-5 min-w-5;
	}
}

.header__user-dropdown-name {
	@apply font-semibold;
	color: $color-bg;
}

.header__user-dropdown-icon {
	@apply h-6 w-6;
	color: $color-muted;

	@media (min-width: 768px) {
		@apply h-4 w-4;
	}
}

.header__user-dropdown-menu {
	@apply absolute left-0 z-10 mt-2 w-48 rounded border border-gray-200 bg-white shadow-lg;

	@media (min-width: 768px) {
		@apply left-auto right-0;
	}

	@media (min-width: 1024px) {
		@apply left-0;
	}
}

.header__user-dropdown-link {
	@apply flex items-center gap-2 px-4 py-2 transition-all hover:bg-gray-100;

	&--active {
		@apply bg-gray-100 font-bold;
		color: $color-bg;
	}
}

/* Hamburger menu styles */
.header__nav-hamburger {
	@apply flex items-center md:hidden;
}
.header__nav-hamburger-button {
	@apply flex rounded;
	background: transparent;
}

.header__nav-hamburger-icon {
	@apply text-2xl;
}

.header__nav-hamburger-menu {
	@apply fixed inset-0 z-50 flex flex-col overflow-y-scroll bg-white bg-opacity-95 p-4;
}

.header__nav-hamburger-close {
	@apply mb-4 mt-1 flex self-end;
	background: transparent;

	&-icon {
		@apply h-6 w-6 p-2;
		color: $color-bg;
	}
}

.header__nav-hamburger-links {
	@apply flex flex-col gap-4 px-2;
	max-width: 300px;
}
